DATABASE_URL=postgresql://wballoys:wballoys123@db:5432/wballoys_db
SECRET_KEY=wb-alloys-dev-secret-key-2024
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
